.project-card {
  flex: 1;

  display: flex;
  justify-content: space-between;
  /* justify-content: center; */
  align-items: center;
  margin: 16px 0px;
  padding: 8px 0px;
}

.project-photo {
  width: 40%;
  /* height: 100px; */
  border-radius: 40px;
}

.project-info {
  margin-right: 24px;
}

.project-title {
  font-size: 20px;
  font-weight: 600;
}

.project-tags {
  display: flex;
  max-width: 60%;
  flex-wrap: wrap;
}

.tag {
  padding: 4px 8px;
  background-color: rgb(144, 200, 223);
  border-radius: 4px;
  margin-right: 6px;
  margin-bottom: 4px;
}

.project-links a {
  text-decoration: none;
  color: rgb(187, 25, 52);
}

.project-links {
  margin-top: 6px;
  display: flex;
}

.link-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  background-color: rgb(109, 193, 241);
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 16px;
  margin-right: 6px;
}

.link-button i {
  display: flex;
  align-items: center;
  margin-right: 4px;
}

@media only screen and (max-width: 720px) {
  .project-photo {
    width: 70%;
  }

  .project-card {
    flex-direction: column-reverse;
  }

  .project-info {
    margin-left: 0px;
    margin-top: 32px;
    /* justify-content: center;
    align-items: center; */
  }

  .project-tags {
    max-width: 100%;
  }
}