.separator {
  background-image: linear-gradient(to right top,
      #e20227,
      #e20e4e,
      #b907b9,
      #d1225c,
      #a745ea,
      #7d68fb,
      #b60c3f,
      #ee2874,
      #c422a1,
      #e24da9,
      #fc70a6,
      #6bcc70);
  height: 6px;
  width: 100%;
  border-radius: 3px;
  margin: 16px 0px;
}